body {
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo {
    background: #1F5297;
}

#menu ul li:hover {
    background: #1F5297;
}

.button-more {
    background: #1F5297;
}

.ui-accordion .ui-accordion-header {
    background: #1F5297;
    border: 1px solid #1F5297;
    color: white;
}